/*CSS RESET*/
* {
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}
nav {
	padding: 1px;
	position: sticky;
	top: 0;
	z-index: 1;
}

.landing {
	position: relative;
}

.back-video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 450px;
	overflow: hidden;
	z-index: -1;
	object-fit: cover;
}

#navbar-all {
	background-color: #0C1821;
	position: sticky;
	top: 0;
	z-index: 10;
	transition-timing-function: 0.5s ease;
}


.navbar-brand {
	padding-left: 1em;
	padding-right: 1em;
}

.nav-item {
	padding-left: 1em;
	padding-right: 1em;
}

#nav-button {
	color: white;
	padding: 10px;
	width: 9rem;
	font-size: 15px;
	font-weight: 700;
	border-color: transparent;
	border-radius: 25px;
	background-color: darkgoldenrod;
}

.nav-link:hover {
	cursor: pointer;
	text-decoration: orange 4px underline overline !important;
}

#home-all {

}

.home-description {
/*	background-color: #0C1821;*/
	height: 450px;
}

.profile {
/*	background-color: #0C1821;*/
	height: 450px;
	position: relative;
	flex-direction: column;
}

.hello {
	color: darkgoldenrod;
}

img {
  height: 504px;
  width: 370px;
  border-radius: 10%;
}

.socmed-icon-container {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.icon-wrapper {
  display: block;
  font-size: 2.5em;
  color: darkgoldenrod;
}

.icon-wrapper i {
  color: darkgoldenrod;
  text-decoration: none !important;
}

.icon-wrapper:hover{
    cursor: pointer;
    background-color: white;
    color: black !important;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}


.profile-info {

}

.socmed-icon-container-lg {
	display: none;
}

.about-me {
	margin-top: 150px;
}

.portfolio-top {
	background-color: darkgoldenrod;
	border-radius: 20px;
	z-index: 2;
	position: relative;
}

.development {
	background-color: #0C1821;
	padding-top: 50px;
	padding-bottom: 30px;
	translate: 0 -50px;
	z-index: 1;
	position: relative;
	align-content: center;
}

.frontend {
	align-content: center;
	align-items: center;
	text-align: center;
}
.backend {
	align-content: center;
	align-items: center;
	text-align: center;
}
.fullstack {
	align-content: center;
	align-items: center;
	text-align: center;
}

.development-pics {
	height: 215px !important;
}

.development-text-container {
	border: 3px solid darkgoldenrod;
	border-radius: 15px;
}

.portfolio-description {
	margin-top: 20px;
}
.tools {
	width: 150px;
	height: 150px;
}

.tools-all {
	background-color: #0C1821;
	align-content: center;
}

.contact-form {
	border: 3px solid darkgoldenrod;
	border-radius: 30px;
}

.contact-section {
	background-color: #0C1821;
	margin-top: 100px;
}

.contact-section-title {
	color: darkgoldenrod;
}

.hr {
	border-top: 3px solid	whitesmoke;
	margin-top: 50px;
}

.footer	{
	background-color: darkgoldenrod;
}

.contact-form-button {
	color: white;
	padding: 10px;
	width: 9rem;
	font-size: 15px;
	font-weight: 700;
	border-color: transparent;
	border-radius: 25px;
	background-color: darkgoldenrod;
}






/*MEDIA==================================================*/
@media (max-width: 992px) {
	.profile-info {
		flex-direction: column;
		align-items: center;
	}
	.socmed-icon-container {
		flex-direction: row;
		gap: 0 30px;
		justify-content: center;
		color: black;
		display: none;
	}
	.profile {
		margin-bottom: 10px;
	}
	.profile-pic {
		align-items: center;
	}
	.home-description {
/*		background-color: #0C1821;*/
		height: 1008px;
	}

	.landing {
	position: relative;
}

.back-video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1008px;
	overflow: hidden;
	z-index: -1;
	object-fit: cover;
}

	.hello-text{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.socmed-icon-container-lg {
		display: flex;
		flex-direction: row;
		gap: 0 30px;
		justify-content: center;
		color: black;
	}
	.about-me-title {
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
	}
	.about-me-description {
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
	}

	.portfolio-projects {
		padding-top: 10px;
/*		translate: 0 -50px;*/
		text-align: center;
	}

	.project-2 {
		margin-top: 10px;
	}

}
